# WEBSITE CONFIG
HOST=
PORT=

# DATABASE
DB_HOST=
DB_PORT=
DB_USER=
DB_NAME=
DB_PASS=

# SECRETS
JWT_SECRET=
SESSION_SECRET=

# RESEND MAIL CONFIG
MAILPSWD=
RESEND_API_KEY=
EMAIL=

# REDIS
REDIS_HOST=
REDIS_PORT=
